<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QAP-2 Node Web Server</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="http://localhost:3000/styles"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="http://localhost:3000/about">About</a></li>
        <li><a href="http://localhost:3000/contact">Contact</a></li>
        <li><a href="http://localhost:3000/gallery">Gallery</a></li>
        <li><a href="http://localhost:3000/subscribe">Subscribe</a></li>
        <li><a href="http://localhost:3000/log">Log</a></li>
      </ul>
    </nav>
    <h1>About</h1>
    <h2>All About The Website Page</h2>
  </body>
</html>
