<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QAP-Contact Page</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="http://localhost:3000/styles"
    />
  </head>
  <body>
    <nav>
      <h1>Contact Us</h1>
      <ul>
        <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="http://localhost:3000/about">About</a></li>
        <li><a href="http://localhost:3000/contact">Contact</a></li>
        <li><a href="http://localhost:3000/gallery">Gallery</a></li>
        <li><a href="http://localhost:3000/subscribe">Subscribe</a></li>
        <li><a href="http://localhost:3000/log">Log</a></li>
      </ul>
    </nav>

    <h2>Contact Info</h2>
    <ul>
      <li>Email: gallery@photos.com</li>
      <li>Phone: (709)-777-4543</li>
      <li>Hours: M-F 8am-5pm Weekend 10am-7pm</li>
      <li>Address: Downtown St.John's</li>
      <li>Come Viste the best Gallery in St.John's</li>
    </ul>
  </body>
</html>
