<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QAP 2-Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="http://localhost:3000/styles"
    />
  </head>
  <body>
    <nav>
      <h1>Node QAP-2</h1>
      <ul>
        <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="http://localhost:3000/about">About</a></li>
        <li><a href="http://localhost:3000/contact">Contact</a></li>
        <li><a href="http://localhost:3000/gallery">Gallery</a></li>
        <li><a href="http://localhost:3000/subscribe">Subscribe</a></li>
        <li><a href="http://localhost:3000/log">Log</a></li>
      </ul>
    </nav>
    <h2>Welcome to the QAP Gallery Website</h2>
    <div class="slideshow-container">
      <div class="banner">
        <img src="https://source.unsplash.com/collection/190727/800x600?11" />
      </div>

      <div class="banner">
        <img src="https://source.unsplash.com/collection/190727/800x600?12" />
      </div>

      <div class="banner">
        <img src="https://source.unsplash.com/collection/190727/800x600?13" />
      </div>
      <div class="banner">
        <img src="https://source.unsplash.com/collection/190727/800x600?14" />
      </div>
    </div>
    <script src="http://localhost:3000/carousel"></script>
  </body>
</html>
