<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QAP 2-Home</title>
  </head>
  <body>
    <h1>Node QAP-2</h1>
    <h2>This is the home page</h2>
    <ul>
      <li><a href="http://localhost:3000">home</a></li>
      <li><a href="http://localhost:3000/about">About</a></li>
      <li><a href="http://localhost:3000/contact">Contact</a></li>
      <li><a href="http://localhost:3000/gallery">Gallery</a></li>
      <li><a href="http://localhost:3000/subscribe">Subscribe</a></li>
    </ul>
  </body>
</html>
